


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
    display: flex;
    height: 100vh; /* Высота контейнера будет равна высоте окна браузера */
}

.left-side {
    width: 50%; /* Левая часть занимает 50% ширины контейнера */
    background-color: white; /* Белый цвет фона для левой части */
}

.right-side {
    width: 50%; /* Правая часть также занимает 50% ширины контейнера */
    background-color: #000842; /* Задний фон цвета #000842 для правой части */
    /* Здесь могут быть другие стили для содержимого правой части */
}

.logo {
    position:absolute;
    width: 100px;
    height: 100px;
    margin-left:10px;
    
}


.kid-image {
    width: 400px;
    height: 415px;
    position: absolute;
    top: -40px;
    left: 900px;
}



.signup-text {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    top: 400px;
    left: 950px;
}

.signup-line1 {
    font-size: 40px;
    font-weight: 600;
    width: 334px;
    height: 60px;
    margin: 0;
}

.signup-line2 {
    font-size: 20px;
    font-weight: 300;
    width: 396px;
    height: 30px;
    margin: 0;
}



/*-------------------------------*/
.signup-text-left {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: black; /* цвет текста для контраста с белым фоном */
    top: 120px;
    left: 127px;
}

.signup-line1-left {
    font-size: 30px;
    font-weight: 500;
    width: 112px;
    height: 45px;
    margin: 0;
    white-space: nowrap; /* Запрет переноса текста */
}

.signup-line2-left {
    font-size: 16px;
    font-weight: 400;
    width: 112px;
    height: 45px;
    margin: 0;
    white-space: nowrap; /* Запрет переноса текста */


}



.registration-form label {
    width: 36px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #999999;
    margin-left: -20px;
    margin-top: -10px;
    
}


.input-group {
    position: relative;
    margin-bottom: 60px; /* Отступ между элементами */
}


.icon {

    width: 16px;
    height: 16px;
    top: 10%;
    
    left: 20;
    margin-right: 20px;
    margin-left: -40;
}


.registration-form input.line-form{
    border: none; /* Убираем границу */
    border-bottom: 2px solid #000; /* Добавляем только нижнюю границу */
    width: 429px;
    height: 2px;
    margin-bottom: 10px; /* Отступ снизу для разделения элементов */
    outline: none; /* Убираем обводку при фокусе */
    padding: 5px; /* или любое другое значение, которое подходит */
}

/* Добавляем стили при фокусе */
.registration-form input.line-form:focus {
    border-color: #000; /* Меняем цвет нижней границы при фокусе */
}




.registration-form input[type="submit"] {
    width: 429px;
    height: 53px;
    border-radius: 32px;
    background-color: #0C21C1;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 25.5px;
    text-align: center;
    border: none; /* Убираем границу */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
    position: relative; /* Или absolute */
    top: -40px; /* Или любое другое значение, которое подходит */
    margin-left: 10px;
    
}

.registration-form input[type="submit"]:hover {
    background-color: #0A1A9E; /* Изменяем цвет при наведении */
}


.input-group input[type="text"],
.input-group input[type="password"] {
    margin-top: 40px; /* Увеличиваем верхний отступ */
    z-index: 1; /* Устанавливаем z-index выше, чем у других элементов */
}
